[submodule "submodules/TERMUXqTREMUX"]
	path = submodules/TERMUXqTREMUX
	url = https://github.com/clevjhon/TERMUXqTREMUX.git
[submodule "submodules/L3WWZ76K1-"]
	path = submodules/L3WWZ76K1-
	url = https://github.com/clevjhon/L3WWZ76K1-.git
