# C/C++ builds SEED 12783
c_main
cpp_main
*.o
*.so
*.elf
*.bin
*.log
*.ima
*.zip
mem_upper
kmain
loader
vmm
pmm
kernel
termuxDB
OQM_file

# Python / env
qenv/
__pycache__/
*.pyc

# GIT leaks
GIT/
oeneyeOScat.GIT/
submodules/GIT/
.env

# OS
.DS_Store
